@import "variables.css";

body {
  width: 90vw;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: Times, serif;
  _font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  _background-image: url(../images/dot-grid.webp);
}

ul {
  list-style-type: square;
}

h1, h2,h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  _text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

h1.title {
  text-transform: none;
  font-size: 2em;
  margin-bottom: 0.5rem;
  color: #444444;
  _color: #e24f1f;
  font-family: Courier, monospace;
}

h3.subtitle {
  text-align: left;
  text-transform: none;
  font-weight: 1000;
  _color: #e24f1f;
  font-size: 3em;
  margin: 0;
  _line-height: 0.8em;
  margin-bottom: 0.4em;
}

img.image {
  _float:right;
  max-height: 15rem;
}

.author {
  font-family: Courier, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  _font-style: italic;
  _background-color: black;
  _color: white;
  margin-top: 2em;
}

.program-in-footer {
  font-style:italic;
}


.i {
  _background-color: yellow;
  _text-decoration: underline dotted red 4px;
  text-align: right;
}

td.menu-entry-description {
  white-space: nowrap;
  _background-color: yellow;
  _font-weight: 800;
  font-style: italic;
}

.menu-comment-preformatted {
  margin: 0;
  height: 0;
}
th {
  height: 1px;
}

.cartouche {
  border: 0;
  border-collapse: collapse;
  background-color: #eeeeee;
}
.cartouche td {
  padding: 1rem;
  font-style: italic;
}

@media screen and (min-width: 60em){
  h1.title {
    font-size: 3rem;
  }
  h3.subtitle {
    font-size: 4rem;
    _letter-spacing: 0.4em;
    _max-width: 30vw;
  }
  .author {
    font-size: 1.3rem;
    font-family: Times;
  }
}
